body{
    background: linear-gradient(to right, #c6d2c6, #ffffff);
}


.mainC{
    display: grid;
    grid-template-columns: 40px 1fr;
    position: absolute;
    top: 200px;
    column-gap: 100px;
}

.pik{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.pik button{
    margin-bottom: 5px;
}
#allbtn{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.redc{
    background-color: red;
    color: red;
    transition: 0.5s;
}
.redc:hover{
    box-shadow: 0px 1px 5px red;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.bluec{
    background-color: blue;
    color: blue;
}
.bluec:hover{
    color: white;
    box-shadow: 0px 1px 5px blue;
    background-color: rgba(0, 0, 255, 0.8);
}

.orangec{
    background-color: orange;
    color: orange;
}
.orangec:hover{
    box-shadow: 0px 1px 5px orange;
    background-color: rgba(255, 166, 0, 0.8);
    color: white;
}

.green{
    background-color: green;
    color: green;
}
.green:hover{
    box-shadow: 0px 1px 5px green;
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}




.aboutus{
    /* border: 1px solid; */
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
}
.hello{
    font-size: 20px;
    letter-spacing: 4px; 
    margin-top: 0;
    margin-bottom: 10px;
    /* text-shadow: 1px 1px 5px orange;  */
}
.fullname{
    font-size: 19px;
    width: 360px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.name{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    /* color: blue; */
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: -3px;
    transition: 1s;
}


.socialmedia{
    /* border: 1px solid; */
    margin-top: 10px;
    margin-bottom: 0;
}
.socialmedia a i{
    font-size: 25px;
    color: rgb(82, 82, 82);
    padding-right: 40px;
    transition: 2s;
}
.shadow:hover{
    text-shadow: 1px 1px 5px rgba(57, 55, 55, 0.371);
    transition: 0.5s;
}


.pro{
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 20px;
}

.fornt_round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    background-color: rgb(184, 184, 184);
    transition: 1.5s;
    
}
.pro_img{
    width: 300px;
    border-radius: 50%;
}
.pro_img:hover{
    box-shadow: 1px 1px 10px rgba(43, 42, 42, 0.801);
}
.back_round{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: -999;
    left: 37px;
    bottom: 91px;
    background-color: #c6d2c6;
    transition: 2.5s;
}
.dot_round{
    height: 30px;
    width: 30px;
    background-color: #c6d2c6;
    border-radius: 50%;
    position: relative;
    bottom: 330px;
    transition: 2s;
}
.dot1{
    height: 15px;
    width: 15px;
    left: 33px;
    bottom: 360px;
    transition: 2s;
}
.dot2{
    height: 10px;
    width: 10px;
    bottom: 348px;
    right: 5px;
    transition: 2s;
}


@media(max-width: 1024px){
    .mainC{
        display: grid;
        column-gap: 70px;
    }

    .hello{
        font-size: 18px;
    }
    .fullname{
        font-size: 17px;
    }
    .name{
        font-size: 32px;
    }

    .socialmedia a i{
        font-size: 23px;
    }
}

@media (max-width: 768px){
    .mainC{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    .pik{
        margin-bottom: 10px;
    }

    .hello{
        font-size: 13px;
    }
    .fullname{
        font-size: 14px;
    }
    .name{
        font-size: 28px;
    }
    .socialmedia a i {
        font-size: 19px;
    }


    .pro{
        position: absolute;
        top: 20%;
        left: 57%;
        padding: 20px;
    }
    .fornt_round{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 210px;
    }
    .pro_img{
        width: 250px;
    }
    .back_round{
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: -999;
        left: 37px;
        bottom: 91px;
    }
    .dot_round{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        position: relative;
        bottom: 250px;
        left: -20px;
    }
    .dot1{
        height: 10px;
        width: 10px;
        left: -33px;
        bottom: 250px;
    }
    .dot2{
        height: 8px;
        width: 8px;
        bottom: 300px;
        right: 50px;
    }

}

@media (max-width: 320px){

    .pro{
        position: absolute;
        top: 7%;
        left: 15%;
        padding: 20px;
    }
    .fornt_round{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 230px;
        right: 230px;
        border-radius: 10%;
    }
    .pro_img{
        width: 250px;
        border-radius: 10%;
    }
    .back_round{
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: -999;
        left: 37px;
        bottom: 91px;
        border-radius: 10%;
    }
    .dot_round{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        position: relative;
        bottom: 250px;
        left: -50px;
        border-radius: 10%;
    }
    .dot1{
        height: 10px;
        width: 10px;
        left: -20px;
        bottom: 250px;
        border-radius: 10%;
    }
    .dot2{
        height: 8px;
        width: 8px;
        bottom: 300px;
        left: -20px;
        border-radius: 10%;
    }

    .mainC{
        margin-top: 180px;
    }

    body{
        background: none;
    }

}